.DS_Store

# random files
fitLcTableSample.txt
old_data_extractor.py
swagger4javaee/

# python compile
*.pyc

# raw data
csv/
xl/

# eclipse project files
.metadata/
RemoteSystemsTempFiles/
server-profile/
testing123/

# java
.class
.project
.classpath
.factorypath
.settings/
.jsdtscope
.Trash-1000/
bin/
testing123/
WebSphere PhoneToWeb Server Liberty Profile/
classes/

# iOS
etravel.xcodeproj/



